<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Record short video clips for your daily timeline.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>VT323-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record audio with your video clips.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save video clips to your Photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access clips for creating your daily video.</string>
</dict>
</plist>
